*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --container-width-ld: 80%;
    --container-width-md: 80%;
    --container-width-sd: 80%;

    --transition: all 400ms ease;
}

body{
    font-family: 'Orbitron', sans-serif;
    color: rgb(58, 4, 74);
    background-color: #ffffff;
    
}

.container{
    width:var(--container-width-ld);
    margin: 0 auto;
}


.section{
    padding: 6rem 0;
    text-align: center;
    margin-bottom: 4rem;
}





h1,h2,h3,h4{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.2rem;
}






a{
    color: rgb(244, 240, 241);
}


img{
    width: 100%;
    display: block;
    object-fit: cover;


}

.btn{
    display: inline-block;
    background-color: brown;
    padding: 1rem 1rem;
    border: 2px solid transparent;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 15px;
}

.btn-hover{
    background: transparent;
    color: rgb(233, 181, 113);
    border-color: grey ;

}

.btn-primary{
    background-color: rgb(7, 22, 118);
    color: rgb(255, 255, 255);
    margin-top: 50px;
}



/*------------------------------NAVABAR---------------------*/





nav{
    background-color: #2b125c ;
    width: 100vw;
    height: 60px;
    position: sticky;
    top: 0%;
    z-index: 11;
    padding-top: 45px;

}

.window-scroll{
    background:   rgb(13, 34, 92);
}
.nav_container{
    height: 100;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

nav button{
    display: none;
}


.nav_menu{
    font-size: 16;
    display: flex;
    align-items: center;
    gap: 4rem;
    transition: 400ms;

}

.nav_menu a:hover{
    color: rgb(220, 24, 24);
}
.header_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
}

/*============Header==============*/
header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 12rem;
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header__left{
    margin: 1rem 0 2.4rem;

}
.header__left h1{
    margin: 1rem 0 2.4rem;

}

   /* ========header================*/

.icons{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.categories{
    padding-top: 4rem;
    background: #e4e8fa;
    padding-bottom: 4rem;
  
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
.categories__left{
    margin-top: 120px;
    margin-right: 20px;
}
.categories__left p{
    margin: 1rem 0 3rem;
    font-size:medium;
}

.categories__right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.categorie{
    background: #fbf1fd;
    border-radius: 10px 10px ;
    padding: 30px;
    transition: rgb(161, 109, 234);
}

.categorie:hover{
    box-shadow: 1px 5px 10px rgb(32, 2, 61);
}

.categorie h4{
    margin-bottom: 12px;
    text-align: start;
    font-size: medium;
}

.categorie p{
    font-size: medium;
    margin-bottom: 40px;
}

.btn_categorie{
    border: #8b5992 ;
    color: rgb(185, 7, 7);
    padding: 3px 8px;
    transition: rgb(255, 255, 255);
    
}
.btn_categorie:hover{
    background-color: rgb(255, 219, 219);
    border-radius: 3px;
    box-shadow:1px 3px #68386e;
}



   /* ========courses================*/

   .courses {
    text-align: center;
    margin-top:4rem ;
    margin-bottom: 6px;
   }

   .course_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
   }

   .course_img{
  
    justify-content: space-between;
    
   }
   .course{
    background: #e6effb;
    text-align: center;
    padding: 20px;
    border: 3px solid transparent;
    border-radius: 7px;
   }
   .course ul li{
    text-align: start;
    margin-bottom: 20px;   
   }
   .course_info{
    padding: 2rem;
   }


.courses h1{
    margin-bottom: 100px;


}

.course_info h4{
    margin-bottom: 25px;
}

.course:hover{
    border: #554791 solid 3px;
    background: #f9fddc;
    box-shadow:1px 3px 2rem #462f49;
}


.faqs {
    background: #d4e4fc;
    margin-top: 90px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    
}

.faqs h1{
    margin-bottom: 60px;

}
.faq_icon{
    width: 20px;
    align-self: flex-start start;
}

.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    
}

.faq{
    display: flex;
    padding: 2rem;
    align-items:center;
    gap: 1.5rem;
    height: fit-content;
    background: #f2e7fe;
    border-radius: 1px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.faq h4{
    margin:auto auto;
    font-size: 20px;
    line-height: 2.2;
}

.faq p{
    margin-top: 0.5rem;
    font-size: 15px;
    display: none;
}

.faq.open p{
    display: block;
}





.testi-container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}
.testi-container h2{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 70px;
}

.testimonial{
    padding-top:2rem ;
}

.avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: rgb(13, 12, 54) solid 4px;
    margin-bottom: 40px;
}

.testi_info{
    text-align: center;
}

.testi_body{
    background: #ddecf6;
    padding: 2.5rem;
    margin-top: 2rem;
    border-radius: 40px;
    margin-bottom: 60px;
    text-align: start;
}




.container_contactus {
    display: flex;
    justify-content:space-around;
    margin-top: 60;
    margin-bottom: 50px;
    background: #dbe7f9;
    padding: 10%;
}


.contactus__left {

    width: 40%;
    height: 350px;
    background-color: #f6f0f9;
    border: #150a75 solid 3px;
    border-radius: 40px;
    padding-top: 40px;
    justify-content: center;
    
}

.contactus__left h2{
    margin-bottom: 40px;
    text-align: center;
    text-decoration: underline;
}

.contactus__right {
    width: 400px;
}


input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}




#name{
    margin-bottom: 4px;
    width: 400px;
}
#mail{

    margin-bottom: 4px;
    width: 400px;
}
#number{

    margin-bottom: 4px;
    width: 400px;
}
#courseid{
  
    margin-bottom: 4px;
    width: 400px;
}

#contact_form{
    text-align: center;
}


.submit_btn{
    padding: 7px;
    margin-top: 20px;
    border: rgb(0, 26, 128) solid ;
    cursor: pointer;
    border-radius: 7px;
}

.submit_btn:hover{
    padding: 10px;
    background: rgb(238, 209, 24);
    margin-top: 20px;
    border: rgb(59, 6, 88) solid ;
    cursor: pointer;
    box-shadow: rgb(123, 55, 5) .2rem .3rem .2rem 0;
}

















.container_map{
    display: grid;
    gap: 40px;
    text-align: center;
    margin-bottom: 40px;
}









footer{
    background:  rgb(13, 34, 92);;
    padding-top: 5rem;
    font-size: 0.6rem;
    border-top: #4c178e solid 8px;
    
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}


.footer_container > div h4{
    margin-bottom: 2rem;
}

.footer_1 p{
    margin-bottom: 0 0 4rem;
}

footer ul li{
    margin-bottom: 1rem;
}

footer ul li a:hover{
    text-decoration-thickness: 7rem;

}

.footer_container h4{
    color: rgb(250, 234, 234);
}







.footer4 p{
    font-size: medium;
    color:rgb(255, 255, 255); ;
    margin-bottom: 12px
}



.footer_copyright{
    color: #e4e8fa;
}



    




