*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --container-width-ld: 80%;
    --container-width-md: 80%;
    --container-width-sd: 80%;

    --transition: all 400ms ease;
}

body{
    font-family: 'Orbitron', sans-serif;
    color: rgb(52, 14, 104);
    background-color: #ffffff;
    
}

.container{
    width:var(--container-width-ld);
    margin: 0 auto;
}


.section{
    padding: 6rem 0;
    text-align: center;
    margin-bottom: 4rem;
}





h1,h2,h3,h4{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.2rem;
}






a{
    color: aliceblue;
}


img{
    width: 100%;
    display: block;
    object-fit: cover;


}

.btn{
    display: inline-block;
    background-color: brown;
    padding: 1rem 1rem;
    border: 2px solid transparent;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 15px;
}

.btn-hover{
    background: transparent;
    color: burlywood;
    border-color: grey ;

}

.btn-primary{
    background-color: rgb(7, 22, 118);
    color: rgb(255, 255, 255);
    margin-top: 50px;
}



/*------------------------------NAVABAR---------------------*/





nav{
    background-color: rgb(30, 0, 81);
    width: 100vw;
    height: 60px;
    position: block;
    top: 0%;
    z-index: 11;
    padding-top: 45px;
}

.window-scroll{
    background: #260450;
}
.nav_container{
    height: 100;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

nav button{
    display: none;
}


.nav_menu{
    font-size: 16;
    display: flex;
    align-items: center;
    gap: 4rem;
    transition: 400ms;

}

.nav_menu a:hover{
    color: rgb(185, 141, 236);
}
.header_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
}

/*============Header==============*/
header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 12rem;
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header__left{
    margin: 1rem 0 2.4rem;

}
.header__left h1{
    margin: 1rem 0 2.4rem;

}

   /* ========header================*/

.icons{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.categories{
    padding-top: 4rem;
    background: #eed7ff;
    padding-bottom: 4rem;
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
.categories__left{
    margin-top: 120px;
    margin-right: 20px;
}
.categories__left p{
    margin: 1rem 0 3rem;
    font-size:medium;
}

.categories__right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.categories{
    background: 
}

.categorie{
    background: #fbf1fd;
    border-radius: 10px 10px ;
    padding: 30px;
    transition: rgb(161, 109, 234);
}

.categorie:hover{
    box-shadow: 1px 5px 10px rgb(32, 2, 61);
}

.categorie h4{
    margin-bottom: 12px;
    text-align: start;
    font-size: medium;
}

.categorie p{
    font-size: medium;
    margin-bottom: 40px;
}

.btn_categorie{
    border: #8b5992 ;
    color: rgb(185, 7, 7);
    padding: 3px 8px;
    transition: rgb(255, 255, 255);
    
}
.btn_categorie:hover{
    background-color: rgb(255, 219, 219);
    border-radius: 3px;
    box-shadow:1px 3px #68386e;
}



   /* ========courses================*/

   .courses {
    text-align: center;
    margin-top:4rem ;
    margin-bottom: 6px;
   }

   .course_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
   }

   .course_img{
  
    justify-content: space-between;
   }
   .course{
    background: #f8d0d0;
    text-align: center;
    padding: 20px;
    border: 3px solid transparent;
    border-radius: 8px;
   }

   .course_info{
    padding: 2rem;
   }